@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

 * {
    margin: 0;
    padding: 10;
    border: none;
}


body {
    font-family: lato sans-serif;  
    font-weight: 300;
    color: black;
    background-color: #eeeeee;
    
}

/* headings and logo */

h1 
{
    font-family: oswald sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    
}

/* navigation links */

#home {
    font-size: 120%;
    letter-spacing: 4px;
}

#home, #logo {
    line-height: 130px;
}

#home li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#home a 
{
    text-decoration: none;
    color: inherit;
}

#home a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

¤cover-text, ¤cover-text h2 {
    color: black;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

 /* creates the level of zoom for hero image */
 @keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;
    position:absolute;
  }

 /* footer */

 footer {
    height: 75px;
    }

 .social-media {
    text-align: center;
 }
 
 .social-media >li {
    display: inline;
 }

 .social-media i {
    font-size: 200%;
    
    padding: 4%;
    color: black;
 }

 /* gallery */

 #photos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

 #photos > img {
    width: 100%;
 }

 /* Form */

.form-section {
    clear: left;
    background: url("../images/gyros1.jpg") no-repeat center center;
    background-size: auto 200%; 
    background-position: center;
    height: 600px;

}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 250px;
    position: relative;
    top:15%;
    left: 5%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: black;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: black;
}

#address {
    background-color: rgba(60, 60, 60, 0.6); 
    color:#fafafa;
    font-size: 150%;
    letter-spacing: 4px;
    width: 250px;
    height: 330px;
    padding:50px;
    top: 220px;
    right: 100px;
    position:absolute;
}

#map {
   position:absolute;
   top:300px;
   left:780px;
    

}


 /* menu background */

 #menu-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#menu-image {
    height: 600px;
    width: 100%;
    background: url("../images/Menu1.jpg") no-repeat center center;
    background-size: auto 100%;
}



  
  /* media queries */

 /* for larger screens size from 1650px wide and down */

 @media screen and (max-width: 1600px){
    
    #map {display: none;}
 }

/* for larger to medium screens size from 950px wide and down */

 @media screen and (max-width: 950px){

 #home {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
 }

#logo {
    clear: left;
    float: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    line-height: 25px;
 }


#cover-text {
    right: 0px;
  }

#address {
    
    float: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    line-height: 25px;
  }
  

 }

 /* For small screen sizes below 800px width */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

    #map {
        display: none;
    }

    .signup-form  {
        display: none;
    }


   
}

 /* For small screen sizes below 600px width */

 @media screen and (max-width: 600px){

    #hero-image {
        height: 600px;
        width: 100%;
        
        background-size: auto 70%;
    }
   
    #home {
    font-size: 70%;
 }



 #menu-image {
    height: 600px;
    width: 100%;
    
    background-size: auto 70%;
}
}
 /* For small screen sizes below 500px width */

@media screen and (max-width: 500px){
   
    #logo {
        font-size: 150%;
    }

    #address {
        background-color: rgba(60, 60, 60, 0.6); 
        color:#fafafa;
        font-size: 80%;
        letter-spacing: 4px;
        width: 250px;
        height: 330px;
        padding:20px;
        top: 220px;
        right: 20px;
        position:absolute;
      }

      

}
