@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

 * {
    margin: 0;
    padding: 10;
    border: none;
}


body {
    font-family: lato; sans-serif;
    font-weight: 300;
    color: black;
    background-color: #eeeeee;
}

/* headings and logo */

h1 
{
    font-family: oswald; sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    
}

/* navigation links */

#home {
    font-size: 130%;
    letter-spacing: 4px;
}

#home, #logo {
    line-height: 130px;
}

#home li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#home a 
{
    text-decoration: none;
    color: inherit;
}

#home a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

¤cover-text, ¤cover-text h2 {
    color: black;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald; sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;
    position:absolute;
  }

 /* footer */

 footer {
    height: 75px;
    }

 .social-media {
    text-align: center;
 }
 
 .social-media >li {
    display: inline;
 }

 .social-media i {
    font-size: 200%;
    
    padding: 4%;
    color: black;
 }

 /* gallery */

 #photos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

 #photos > img {
    width: 100%;
 }

 /* media queries */

 /* for larger to medium screens size from 950px wide and down */
 @media screen and (max-width: 950px){
 #home {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
 }
    
 }